/* Classic style for WampServer */

* {
	margin: 0;
	padding: 0;
}

html {
	background: #ddd;
}

body {
	margin: 1em 10%;
	padding: 1em 3em;
	font: 80%/1.4 tahoma, arial, helvetica, lucida sans, sans-serif;
	border: 1px solid #999;
	background: #eee;
	position: relative;
}

abbr {
	font-variant: none;
	border:none;
	text-decoration:none;
}

.innerhead {
	margin-bottom: 1.8em;
	margin-top: 1.8em;
	padding-bottom: 0em;
	border-bottom: 1px solid #999;
	padding-left:8em;
	/*letter-spacing: -500em;
	text-indent: -500em;*/
	height: 70px;
	background: url('img/gifLogo1.gif') 0 0 no-repeat;
}

.utility {
	position: absolute;
	right: 4em;
	top: 85px;
	font-size: 0.85em;
}

.utility li {
	display: inline;
	padding:0;
	margin:0;
}

h2 {
	margin: 0.8em 0 0 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#head ul li, dl ul li, #foot li {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0 0.4em;
}

ul.aliases, ul.projects, ul.tools, ul.vhost {
	list-style: none;
	line-height: 24px;
}

ul.projects {
	max-width:230px;
}

ul.aliases a, ul.projects a, ul.tools a ,ul.vhost a {
	padding-left: 22px;
	background: url('img/pngFolder.png') 0 100% no-repeat;
}

ul.tools a {
	background: url('img/pngWrench.png') 0 100% no-repeat;
}

ul.aliases a, ul.vhost a {
	background: url('img/pngFolderGo.png') 0 100% no-repeat;
}

li.projectsdir, li.phpmynot {
	line-height: 1.8em;
	font-size: 0.72em;
	color: #04569A;
	margin-top:10px;
	padding-right:15px;
}

li.phpmynot {
	margin:0;
	padding:0;
	float:left;
	width:17em;
}

dl {
	margin: 0;
	padding: 0;
}

dt {
	font-weight: bold;
	text-align: right;
	width: 15em;
	clear: both;
}

dd {
	margin: -1.35em 0 0 16em;
	padding-bottom: 0.4em;
	overflow: auto;
}
dd ul li {
	float: left;
	display: block;
	width: 16.5%;
  min-width: 140px;
	margin: 0;
	padding: 0 0 0 20px;
	background: url('img/pngPlugin.png') 2px 50% no-repeat;
	line-height: 1.35;
}
dd.ddphpext {
	margin-left:1.5em;
}

ul.phpext {
	margin-top:1.5em;
}

ul.phpext li {
	width: 6%;
  min-width: 100px;
}

.divider1 {
    margin-top:5px;
    border-top:1px solid #999;
}

.divider2 {
    clear:both;
}

a {
	color: #024378;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #04569A;
	text-decoration: underline;
}

#foot, #error {
	text-align: center;
	margin-top: 1.8em;
	border-top: 1px solid #999;
	padding-top: 1em;
	font-size: 0.85em;
}

.column {
    min-width: 220px;
    float:left;
}

.three-columns .column {
    min-width: 32%;
}
.four-columns .column {
    min-width: 23%;
}

pre {
 white-space:pre-wrap;
 overflow-x:auto;
 font-size:1.4em;
 border: 1px solid #999;
 padding:1em;
}

/******         Pop-up box when hovering over a link        ******/
a.popup {font-style:none;color:#999;text-decoration:none;font-size:0.8em;}
a:active.popup {border-bottom:0px;} /* Essential for IE          */
a:hover.popup, a:focus.popup {
               border-bottom:0px;   /* Essential for IE          */
               cursor:help;text-decoration:none;
              }
a.popup span {display:none;} /* Invisible text between SPAN tags */
a:hover.popup span, a:focus.popup span {
	display:block;
	position:absolute;
	width:95%;height:auto;top:auto;left:10px;overflow:visible;
	border: 2px solid #ff0099;
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	background-color:#ffddff;
	white-space:pre-wrap;
	overflow-x:auto;
	font-family: Consolas, Lucida Console, Courier New, monospace;
	line-height:110%;font-size:1.6em !important;color:black;
	padding:0.5em;margin-top:1.5em;text-align:center;
	font-weight:500;font-style:normal;text-decoration:none;
	z-index:100;}
/*------------------------------------------------------------------*/

@media screen and (max-width: 750px) {

    dt {
    	text-align: left;
    	width: 100%;
    	clear: left;
        margin: 2% 0 0 0;
    }

    dd {
    	margin: 0;
    	padding: 0.5% 1.5% 1% 1.5%;
    }
}